@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
:root{

--body-font: 'Poppins', sans-serif;
--big-font: 4rem;
--h1-font: 3.6rem;
--h2-font: 2.4rem;
--h3-font: 2rem;
--h4-font: 1.8rem;
--normal-font: 1.6rem;
--small-font: 1.4rem;
--smaller-font: 1.3rem;

--font-regular: 400;
--font-medium: 500;
--font-semi-bold: 600;

--primary-color: #C2703D;
--primary-color-hover: #f5640a;
--text-color: #333;
--text-color-light: #888682;
--border-color: #484848;
--white-color: #FFF;
--section-bg: #2C3034;

--z-overlay: 10;
--z-fixed: 100;

--tran-0-2: 0.2s;
--tran-0-3: 0.3s;
--tran-0-5: 0.5s;
}

@media screen and (max-width: 990px) {
:root {
  --big-font: 3.5rem;
  --h1-font: 2.4rem;
  --h2-font: 2rem;
  --h3-font: 1.8rem;
  --h4-font: 1.6rem;
  --normal-font: 1.5rem;
  --small-font: 1.3rem;
  --smaller-font: 1.2rem;
}
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  background-color: var(--white-color);
}

::selection{
  background-color: var(--primary-color);
  color: var(--white-color);
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #f9f1ec;
}
::-webkit-scrollbar-thumb{
  border-radius: 1rem;
  background-color: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover{
  border-radius: 1rem;
  background-color: var(--primary-color-hover)
}

body,
button,
input{
  font-family: var(--body-font);
  font-size: var(--normal-font);
  font-weight: var(--font-regular);
  color: var(--text-color);
}

input{
  outline: none;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.section{
  padding: 7rem 2rem;
}
.container{
  max-width: 1294px;
  width: 100%;
  margin: 0 auto;
  padding: 0 6rem;
}
.flex{
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}
.button{
  border: none;
  outline: none;
  color: var(--white-color);
  padding: 1.4rem 4rem;
  border-radius: 3rem;
  margin-left: 19px;
  background-color: var(--primary-color);
  transition: var(--tran-0-3);
  cursor: pointer;
}
.button:hover{
  background-color: var(--primary-color-hover);
}
.section-subtitle,
.content-subtitle{
  color: var(--primary-color-hover);
  font-size: x-large;
  letter-spacing: 1px;
  font-weight: var(--font-medium);
  text-align: center;
}
.section-title,
.content-title{
  text-align: center;
  font-size: var(--h2-font);
  font-weight: var(--font-medium);
  margin: 1rem 0;
}
.section-description,
.content-description{
  text-align: justify;
  margin-bottom: 1rem;
}
.helo{
  font-size: 47px;
  /* padding-bottom: 9px; */
  margin: 31px 0 0 0;
  color: #f5640a;
  text-align: center;
}
.gd{
  text-align: center;
  width: 17%;
  margin-left: 42%;
}
.gh{
  text-align: center;
  width: 17%;
}
/* navbar */
nav{
  position: fixed;
  background: white;
  width: 100%;
  z-index: 12;
}
nav .menus{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menus .logo a{
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.menus ul{
  display: inline-flex;
}
.menus ul li{
  list-style: none;
  margin-left: 7px;
}
.menus ul li:first-child{
  margin-left: 0px;
}
.menus ul li a{
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menus ul li a:hover{
  color: #f5640a;
}
.logo img{
  width: 109px;
  height: 57px;
}
.logo img{
  width: 109px;
  height: 57px;
}

/* homepage */
.img{
  background: url('../images/ezgif.com-video-to-gif.gif');
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center{
  position: absolute;
  top: 59%;
  left: 51%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  /* text-align: center; */
}
.center img{
  background-size: cover;
  width: 401px;
  height: 312px;
}
slide-left{
  width: 401px;
  height: 312px;
}
.slide-left{
  opacity: 0;
  transform: translate(30px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
  100%{
    opacity: 1;
    transform: translate(0px);
  }  
}
#hyhy{
    float: right;
    width: 46%;
    margin-top: 208px;
    padding-right: 52px;
    height: 68%;
    animation: fadeInDown 2.5s ease;
}

@keyframes fadeInDown {
  0%{
    opacity: 0;
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0PX);
  }
}
.center .title{
  /* color: #fff; */
  font-size: 50px;
  font-weight: 600;
}
.center .sub_title{
  color: #fff;
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 59px;
}
.center img {
  animation-delay: 0.6s;
}

.home{
  height: 100vh;
  width: 100%;
}

/* About */
.about .content-subtitle,
.about .content-titl
.about .content-description{
  text-align: left;
  text-align: justify;
  font-size: smaller;
}
.about-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  padding: 0px 3rem 26px 26px;
}
/* 
@keyframes fadeInUp {
  0%{
    opacity: 0;
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0PX);
  }
} */
.about-imageContent{
  position: relative;
  max-width: 582px;
  /* animation: fadeInUp 2s ease; */
  height: 392px;
  border: 4px solid var(--section-bg);
}
.aboutImg-textBox{
  position: absolute;
  bottom: 1rem;
  right: -3rem;
  padding: 1rem;
  max-width: 280px;
  width: 100%;
  text-align: center;
  border: 4px solid var(--section-bg);
  background-color: var(--white-color);
}
.aboutImg-textBox .content-description{
  text-align: center;
  margin-bottom: 0;
}
.heart-icon{
  position: absolute;
  left: -1.9rem;
  top: 50%;
  height: 3rem;
  width: 3rem;
  color: var(--white-color);
  background-color: var(--section-bg);
  transform: translateY(-50%);
  justify-content: center;
  border-radius: 50%;
}

.about-details{
  display: grid;
  /* row-gap: 4rem; */
}
.about-buttons{
  column-gap: 2rem;
}
.about-link .link-text,
.about-arrowIcon{
  color: var(--text-color);
  text-transform: uppercase;
}
.about-arrowIcon{
  transition: var(--tran-0-3);
}
.about-link:hover .about-arrowIcon{
  margin-left: 4px;
}

/* Menu */
.sections{
  padding: 3rem;
}

.menu{
  background: url('../images/about-g20-bckg.png');
}
.section-title,
.section-description{
  color: black;
}
.menu-img{
  height: 80px;
  width: 80px;
  margin-right: 1.5rem;
}


/* footer */
.logos{
  float: left;
  padding-left: 15px;
}
.footer{
  background:#000;
  padding:5px 149px 0 0;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .rows{
  width:100%;
  margin:1% 0%;
  padding:0.6% 14% 0% 4%;
  font-size:1.0em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:white;
  transition:0.5s;
  }
  .footer .nb a{
    text-decoration:none;
    color:white;
    transition:0.5s;
    }
    .footer .nb a:hover{
      color: #ff9c15;
      }
.nb i{
    background: orange;
    padding: 9px;
    border-radius: 50%;
    width: 52px;
}
.nb i:hover{
  background: skyblue;
  color: black;
}
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 9px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }

/* Responive media */
@media screen and (max-width: 1150px) {
  .swiper-button-prev {
    left: 10rem;
}
  .swiper-button-next {
    right: 10rem;
}
}

@media screen and (max-width: 1000px) {
  .swiper-button-prev {
    left: 3rem;
}
  .swiper-button-next {
    right: 3rem;
}
  .section-description {
    padding: 0 8rem;
  }
  .about-imageContent {
    height: 400px;
  }
  .aboutImg-textBox {
    padding: 1.5rem 2rem;
  }
  .menu .menu-content {
    grid-template-columns: 1.5fr 1fr;
    column-gap: 3rem;
  }
  .brand-images{
    grid-template-columns: repeat(3,1fr);
  }

}

@media screen and (max-width: 768px) {
  .section.review{
    padding: 7rem 1rem 3rem;
  }
  .review .swiper{
    padding-bottom: 6.5rem;
  }
  .swiper-navBtn{
    visibility: hidden;
  }
  .swiper-pagination-bullet{
    visibility: visible;
  }

  .section {
    padding: 7rem 1rem;
}
.section-description,
.review-quote{
  padding: 0 6rem;
}
.about-content{
  grid-template-columns: 1fr;
  row-gap: 3rem;
  justify-items: center;
}
.about .content-subtitle,
.about .content-title,
.about .content-description{
  text-align: center;
}
.about-details {
  justify-items: center;
}
.about-lists{
  justify-content: center;
}
.menu .menu-content {
  grid-template-columns: 1fr;
  row-gap: 3rem;
}
.footer-container{
  row-gap: 1.5rem;
}
}

@media screen and (max-width: 600px){
  .container{
    padding: 0.5rem;
  }
  .section-description, .review-quote{
    padding: 0;
  }
  .aboutImg-textBox{
    right: -2rem
  }
  .menu-img{
    height: 70px;
    width: 70px;
    margin-right: 0;
}
  .footer-container{
    grid-template-columns: 1fr;
    row-gap: 6rem;
  }
  .footer-content{
    justify-items: center;
  }
  .footer-linkContent{
    justify-items: center;
  }
  
}

/* G20-MEMBERS */

.members p{
  padding: 0 80px;
  text-align: center;
  margin-bottom: 1rem;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(172px,1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card_image {
  position:relative;
}

.card_image:after{
  transform: rotate(-45deg);
  top:auto;
  bottom:-22px;
  left:40%;
}
.card_image img {
  width:26vh;
  height:13vh;
  object-fit:cover;
  background-size: cover;
}
.members p{
  padding: 0 80px;
  text-align: center;
  margin-bottom: 1rem;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}


.card {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  line-height: 1rem;
  /* -webkit-mask:radial-gradient(circle .8rem at 2px 50%,#0000 98%,#000)0 0/100% 2.4rem; */
}


h2.card_title,p {
  margin: 1.2rem 0;
}
h2.card_title {
  margin: 7px;
  font-size: 12px;
  text-align: center;
}

/* how g20 work */
.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  line-height: 25px;
}

.responsive-container-block.bigContainer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
}

.text-blk.headingText {
  font-size: 45px;
  font-weight: 700;
  line-height: 40px;
  color: rgb(0, 135, 177);
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.allText {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 50%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.text-blk.subHeadingText {
  color: rgb(102, 102, 102);
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.text-blk.description {
  font-size: 15px;
  line-height: 22px;
  text-align: justify;
  color: rgb(24, 12, 12);
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px;
}

.explore {
  font-size: 18px;
  line-height: 28px;
  color: rgb(255, 255, 255);
  background-color: rgb(244, 152, 146);
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: outset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
  border-top-color: rgb(244, 152, 146);
  border-right-color: rgb(244, 152, 146);
  border-bottom-color: rgb(244, 152, 146);
  border-left-color: rgb(244, 152, 146);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  cursor: pointer;
  box-shadow: rgba(244, 152, 146, 0.25) 0px 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 9px;
  padding-right: 45px;
  padding-bottom: 9px;
  padding-left: 45px;
}

.explore:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 235, 234);
  color: rgb(244, 152, 146);
}

.responsive-container-block.Container {
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  max-width: 1320px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.responsive-container-block.Container.bottomContainer {
  flex-direction: row;
  margin-top: -36px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.allText.aboveText {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 40px;
}

.allText.bottomText {
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.mainVideo {
  width: 85%;
  height: 450px;
  margin-top: -30px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.videoContainer {
  width: 46%;
  height: 600px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.mainVideo {
  z-index: 10;
}

.dotsImg {
  position: absolute;
  width: 80%;
  height: 600px;
  top: 0px;
  right: 0px;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .responsive-container-block.Container {
    max-width: 850px;
  }

  .text-blk.description {
    font-size: 18px;
  }

  .allText {
    width: 40%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .text-blk.subHeadingText {
    font-size: 30px;
  }

  .responsive-container-block.Container.bottomContainer {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }

  .responsive-container-block.Container {
    max-width: 830px;
  }

  .allText.aboveText {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
  }

  .allText.bottomText {
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .allText.bottomText {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }

  .responsive-container-block.Container.bottomContainer {
    flex-direction: column;
  }

  .text-blk.headingText {
    text-align: center;
    font-size: 22px;
  }

  .text-blk.subHeadingText {
    text-align: center;
  }

  .text-blk.description {
    text-align: center;
  }

  .explore {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }

  #inc0s {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }

  .dotsImg {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  .videoContainer {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .mainVideo {
    width: 100%;
  }

  .allText.bottomText {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }

  .text-blk.description {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .text-blk.headingText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .text-blk.subHeadingText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .mainVideo {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .allText {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .responsive-container-block.Container {
    flex-direction: column;
    height: auto;
  }

  .text-blk.headingText {
    text-align: center;
  }

  .text-blk.subHeadingText {
    text-align: center;
    font-size: 28px;
    line-height: 38px;
  }

  .text-blk.description {
    text-align: center;
    font-size: 18px;
    line-height: 27px;
  }

  .allText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .allText.aboveText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block.Container {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }

  .responsive-container-block.Container.bottomContainer {
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
  }

  .allText.bottomText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .allText.bottomText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }

  .mainVideo {
    height: 400px;
  }

  .videoContainer {
    height: 550px;
  }

  .explore {
    font-size: 16px;
    padding-top: 8px;
    padding-right: 40px;
    padding-bottom: 8px;
    padding-left: 40px;
  }

  .responsive-container-block.bigContainer {
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
  }
}

@media (max-width: 500px) {
  .responsive-container-block.Container {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    width: 100%;
    max-width: 100%;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
  }

  .allText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .explore {
    font-size: 16px;
    line-height: 25px;
    padding: 8px 35px 8px 35px;
  }

  .dotsImg {
    width: 80%;
    height: 100%;
  }

  .mainVideo {
    height: 260px;
  }

  .videoContainer {
    height: 320px;
  }

  .responsive-container-block.Container.bottomContainer {
    padding: 0 0 0 0;
  }

  .text-blk.description {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 30px 0;
  }

  .text-blk.subHeadingText {
    font-size: 24px;
  }
}